*{
    padding: 5px;
    margin: 5px;
    font-family:cursive;
}
.div-img{
   height: 390px;
   width: 390px;
   flex-shrink: 0;
}
img{
     padding: 5px;
    margin: 5px;
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
}
.biodata-flex1, .biodata-flex2{
    display: flex;
    flex-wrap: wrap;
}
.biodata-heading{
    text-align: center;
    background-color:lightsalmon;
}
.biodata-subheading{
    text-align: center;
    background-color:lightgrey;
}
.biodata-form{
   padding: 5px;
    margin: 5px;
    
}
.form{
    border-style: solid;
    background-color: lightgoldenrodyellow;
    
}
.form p{
    padding-right: 50px;
}
.details{
     padding: 5px;
    margin: 5px;
    margin: 5px;
    color: lightseagreen;
}